.casilla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3987c9;
    width: 10vw;
    height: 10vw;
    font-size: 5vw;
    border: 1px solid black;
    max-height: 10vw;
    min-width: 100px;
    max-width: 10vw;
    min-height: 100px;
}

.bomba{
    max-height: 100px;
    max-width: 100px;
}

.hover{
    cursor: pointer;
}

.nohover{
    border-color: red;
}

.card{
    max-width: 500px;
}


.img-marinero {
    background-color: whitesmoke;
    background-image: url('/assets/imagenes/marinero.png');
    background-size: cover;
  }
  

.cassilla:hover{
    cursor: pointer;
    box-shadow: 5px 5px black;
}

.tabla {
    margin-top: 5%;
    align-items: center;
    z-index: 2;
}

.fila{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:disabled{
    color: black;
}

.accion{
    margin-top: 5%;
}

.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }


  .radar {
    position: absolute;
    margin-top: 5%;
    z-index: 1;
    top: 50%;
    left: 50%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 10vw;
    height: 10vh;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-animation: radar 2s infinite;
    animation: radar 2s infinite;
    opacity: 0;
 }

 @keyframes radar{
    0%{
        width:30vw;
        height:20vh;
        border:40px 
        solid #fff;
        opacity:0
    }50%{
        opacity:.1
    }
    90%{
        width:50vw;
        height:60vh;
    }
    90%,100%{
        border:2px 
        solid #fff;
        opacity:0
    }100%{
        width:50vw;
        height:70vh;
    }
}