.imagenDeQuienSoy{
    width: 100%;
   
    }

.main{
    width: 100%;
}
body {
    font: Times, serif;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1d3557; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #457b9d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: white; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #e63946; /* Black Gray */
    color: #fff;
}
.bg-5 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.bg-6{
    background-color: #a8dadc; /* Black Gray */
    color: black;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}