<div class="tabla container">
    <div class="fila row">
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[0][0] !='' || !juego.enJuego" (click)="seleccionar(0,0)" class="casilla">{{juego.tablero[0][0]}}</button>
        </div>
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[0][1] !='' || !juego.enJuego" (click)="seleccionar(0,1)" class="casilla">{{juego.tablero[0][1]}}</button>
        </div>
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[0][2] !='' || !juego.enJuego" (click)="seleccionar(0,2)" class="casilla">{{juego.tablero[0][2]}}</button>
        </div>
    </div>
    <div class="fila row">
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[1][0] !='' || !juego.enJuego" (click)="seleccionar(1,0)" class="casilla">{{juego.tablero[1][0]}}</button>
        </div>
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[1][1] !='' || !juego.enJuego" (click)="seleccionar(1,1)" class="casilla">{{juego.tablero[1][1]}}</button>
        </div>
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[1][2] !='' || !juego.enJuego" (click)="seleccionar(1,2)" class="casilla">{{juego.tablero[1][2]}}</button>
        </div>
    </div>
    <div class="fila row">
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[2][0] !='' || !juego.enJuego" (click)="seleccionar(2,0)" class="casilla">{{juego.tablero[2][0]}}</button>
        </div>
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[2][1] !='' || !juego.enJuego" (click)="seleccionar(2,1)" class="casilla">{{juego.tablero[2][1]}}</button>
        </div>
        <div class="casilla col-4">
            <button [disabled]="juego.tablero[2][2] !='' || !juego.enJuego" (click)="seleccionar(2,2)" class="casilla">{{juego.tablero[2][2]}}</button>
        </div>
    </div>
    <div class="fila row">
        <button *ngIf="!juego.enJuego" class="accion" mat-raised-button color="primary" (click)="nuevoJuego()">Nuevo Juego</button>
    </div>
</div>