<app-cabecera>  </app-cabecera>
<div *ngIf="loggedIn()" class="container" fxLayout="column" fxLayoutGap="10px">
  <mat-card routerLink="/Juegos">
    <mat-card-content>
      <div fxLayout="row">
        <div class="img-container">
          <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu" >
        </div>
        <div class="media-body" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayoutAlign="center center" fxLayout="row">
            <h4 class="titulo">Juegos</h4>
          </div>
          <div fxLayoutAlign="center center" fxLayout="row">
            <p>Elige a qué jugar y suma puntos para subir en el ranking!</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card routerLink="/Listado">
    <mat-card-content>
      <div fxLayout="row">
        <div class="img-container">
          <img src="./assets/imagenes/listado.png" class="media-object imagenDeMenu" >
        </div>
        <div class="media-body" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayoutAlign="center center" fxLayout="row">
            <h4 class="titulo">Listado de Resultados</h4>
          </div>
          <div fxLayoutAlign="center center" fxLayout="row">
            <p>Ranking de jugadores por puntos en cada juego</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card routerLink="/Jugadores">
    <mat-card-content>
      <div fxLayout="row">
        <div class="img-container">
          <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu" >
        </div>
        <div class="media-body" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayoutAlign="center center" fxLayout="row">
            <h4 class="titulo">Jugadores</h4>
          </div>
          <div fxLayoutAlign="center center" fxLayout="row">
            <p>Ingrese para ver un listado de todos los jugadores actuales</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
