.menu {
  display: flex;
}

mat-card {
    border-radius: 10px; /* 5px rounded corners */
}

mat-card:hover {
  box-shadow: 5px 5px grey;
  background-color: lightcyan;
}

.content {
  margin-top: 20px;
}

p {
  text-align-last: center;
}

.img-agilidad {
  background-image: url('/assets/imagenes/cerebro.png');
  background-size: cover;
}

.img-ppt {
  background-image: url('/assets/imagenes/ppt.png');
  background-size: cover;
}

img {
  border-radius: 5px 5px 0 0;
  width: 200px;
  height: 200px;
}

.img-adivina {
  background-image: url('/assets/imagenes/adivina.png');
  background-size: cover;
}

.mat-card-header {
  align-content: center;
}