mat-card {
    border-radius: 10px; /* 5px rounded corners */
    background-color: cadetblue;
}

mat-card:hover{
  background-color: lightcyan;
  box-shadow: 5px 5px rebeccapurple;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}

p {
  text-align-last: center;
}

.img-agilidad {
  background-color: whitesmoke;
  background-image: url('/assets/imagenes/cerebro.png');
  background-size: cover;
}

.img-ppt {
  background-color: whitesmoke;
  background-image: url('/assets/imagenes/ppt.png');
  background-size: cover;
}

.img-adivina {
  background-color: whitesmoke;
  background-color: whitesmoke;
  background-image: url('/assets/imagenes/adivina.png');
  background-size: cover;
}

.img-tateti {
  background-color: whitesmoke;
  background-image: url('/assets/imagenes/tateti.png');
  background-size: cover;
}

.img-anagrama {
  background-color: whitesmoke;
  background-image: url('/assets/imagenes/anagrama.png');
  background-size: cover;
}

.img-memo {
  background-color: whitesmoke;
  background-image: url('/assets/imagenes/memo.png');
  background-size: cover;
}

.img-naval {
  background-color: whitesmoke;
  background-image: url('/assets/imagenes/naval.png');
  background-size: cover;
}

.mat-card-header {
  align-content: center;
}

.glow {
  margin: 5%;
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
