<div fxLayout="column" fxLayoutAlign="center center">
  <div class="box-canvas">
    <div class="tabletop">
    </div>
    <div class="ball" fxLayoutAlign="center center">
      <input [disabled]="!juego.enJuego" [(ngModel)]="juego.numeroIngresado" (keydown.enter)="verificar()" class="adivina" maxlength="10" placeholder="¿?">
    </div>
    <div class="stand"></div>
  </div>
</div>

<div class="acciones">
  <button *ngIf="!juego.enJuego" mat-raised-button color="primary" (click)="nuevoJuego()">Nuevo Juego</button>
  <button *ngIf="juego.enJuego" mat-raised-button color="warn" (click)="verificar()">Adivinar</button>
</div>