<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-content fxLayout="column">
        <div fxLayout="row">
          <mat-form-field appearance="fill">
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput type="text">
          </mat-form-field>
          <label>=</label>
          <mat-form-field appearance="fill">
            <input matInput type="text">
          </mat-form-field>
        </div>
        <mat-progress-bar mode="determinate" *ngIf="mostrarProgressBar" [value]="progressValue"></mat-progress-bar>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button *ngIf="!mostrarVerificar" (click)="NuevoJuego()" color="primary">Nuevo Juego</button>
        <button mat-raised-button *ngIf="mostrarVerificar" (click)="Verificar()" color="accent">Verificar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>