<div fxLayout="column" class="pizarra">
  Agilidad aritmética
  <div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" class="cuenta">
        <input disabled [(ngModel)]="juego.numeroUno" matInput class="pizarra-element">
        <input disabled [(ngModel)]="juego.operador" matInput class="pizarra-element">
        <input disabled [(ngModel)]="juego.numeroDos" matInput class="pizarra-element">
        <input [disabled]="!estaJugando" [(ngModel)]="juego.numeroIngresado" placeholder="Ingrese el resultado" type="number" matInput class="pizarra-element resultado">
      </div>
    </div>
    <div class="acciones" fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button *ngIf="!estaJugando" (click)="nuevoJuego()" color="primary">Nuevo Juego</button>
      <button mat-raised-button *ngIf="estaJugando" (click)="verificar()" color="accent">Verificar</button>
      <mat-progress-bar mode="determinate" *ngIf="estaJugando" [value]="progressValue"></mat-progress-bar>
    </div>
  </div>
</div>