@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

.pizarra {
  font-size: 3vw;
  color: #E8E8E8;
  font-family: "Walter Turncoat", cursive;
  display: block;
  width: 80%;
  min-width: 40%;
  height: 80%;
  min-height: auto;
  margin: 30px auto 0 auto;
  background-color: #497959;
  padding: 20px 30px;
  overflow-y: auto;
  box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: #B78240 solid 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.cuenta {
  margin: 5%;
}

.pizarra-element {
    font-size: 3vw;
    color: #E8E8E8;
    font-family: "Walter Turncoat", cursive;
    padding: 0%;
    border: none;
    border-color: transparent!important;
    outline: transparent!important;
    background-color: transparent;
}

.pizarra:after {
  display: block;
  position: fixed;
  -webkit-border-radius: 0.1em 0.1em 0 0.1em;
  -khtml-border-radius: 0.1em 0.1em 0 0.1em;
  -moz-border-radius: 0.1em 0.1em 0 0.1em;
  -ms-border-radius: 0.1em 0.1em 0 0.1em;
  -o-border-radius: 0.1em 0.1em 0 0.1em;
  border-radius: 0.1em 0.1em 0 0.1em;
  width: 50px;
  height: 8px;
  background: #f1f1f1;
  top: 80%;
  margin-top: 75px;
  margin-right: 60px;
  right: 5%;
  box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.3)
}

.acciones {
  padding: 3%;
}

a {
  color: #ff0
}