<app-menu></app-menu>
<div class="container" fxLayoutAlign="center center">
  <mat-tab-group color="primary" backgroundColor="primary" mat-align-tabs="center">
    <mat-tab label="Agilidad">
      <app-listado-agilidad [value]="jugadores"></app-listado-agilidad>
    </mat-tab>
    <mat-tab label="Piedra Papel Tijera">
      <app-listado-ppt [value]="jugadores"></app-listado-ppt>
    </mat-tab>
    <mat-tab label="Adivina">
      <app-listado-adivina [value]="jugadores"></app-listado-adivina>
    </mat-tab>
    <mat-tab label="Memo Test">
      <app-listado-memoria [value]="jugadores"></app-listado-memoria>
    </mat-tab>
    <mat-tab label="Ta Te Ti">
      <app-listado-tateti [value]="jugadores"></app-listado-tateti>
    </mat-tab>
    <mat-tab label="Anagrama">
      <app-listado-anagrama [value]="jugadores"></app-listado-anagrama>
    </mat-tab>
    <mat-tab label="Batalla Naval">
      <app-listado-batalla [value]="jugadores"></app-listado-batalla>
    </mat-tab>
  </mat-tab-group>
</div>
