<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="panel panel-default">
  <div class="hero-text">
      <h1 style="font-size:50px">Sala de Juegos</h1>
      <p>Federico Ferniot</p>
      <a href="https://github.com/federicoferniot"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >¿Quién Soy? <i class="fa fa-user"></i></a>
  </div>

  <mat-menu #menu="matMenu">
    <button *ngIf="!LoggedIn()" mat-menu-item routerLink="/Login">
      <mat-icon>account_circle</mat-icon>
      <span>Ingresar</span>
    </button>
    <button *ngIf="!LoggedIn()" mat-menu-item routerLink="/Registro">
      <mat-icon>ballot</mat-icon>
      <span>Registrarse</span>
    </button>
    <button *ngIf="LoggedIn()" mat-menu-item (click)="Logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
</div>
