.container-letra {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    font-size: 5vw;
    border: 1px solid black;
    min-height: 10vw;
    max-height: 10vw;
    min-width: 10vw;
    max-width: 10vw;
}

.contenedor{
    margin-top: 5%;
}