<div class="contenedor" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner *ngIf="cargando"></mat-spinner>
    <div *ngFor="let letra of juego.palabraDesordenada; let i = index">
      <div class="container-letra">
        <button [disabled]="!juego.enJuego || letra.estaUsada" (click)="seleccionar(i)" class="container-letra">{{letra.letra}}</button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let letra of juego.palabraIngresada; let i = index">
      <div class="container-letra">
        <button [disabled]="!juego.enJuego" class="container-letra" (click)="deseleccionar(i)" >{{letra.letra}}</button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button *ngIf="!juego.enJuego && !cargando" mat-raised-button color="primary" (click)="nuevoJuego()">Nuevo Juego</button>
    <button *ngIf="juego.enJuego" mat-raised-button color="primary" (click)="adivinar()">Adivinar</button>
    <button *ngIf="juego.enJuego" mat-raised-button color="primary" (click)="borrar()">Borrar</button>
  </div>
</div>
